.loading-spinner {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* No seu fornecedor-list.component.css */
mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.add-button {
    margin-left: auto; /* Garante que o botão fique à direita */
    transform: scale(0.8); /* Opcional: ajusta o tamanho do botão */
}