<mat-toolbar class="custom-toolbar">
  <button mat-icon-button aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="nome_loja">CPU-STORE</span>

  <span class="example-spacer"></span>

  <div class="search-field-box">
    <mat-form-field class="search-field" appearance="outline">
      <input matInput placeholder="O que você procura?" class="input">
    </mat-form-field>
    <button class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  

  <span class="example-spacer"></span>

  <button mat-icon-button aria-label="Usuário">
    <mat-icon>account_circle</mat-icon>
  </button>
  <span class="login-text">Olá, <a href="#">Entre</a> ou <a href="#">Cadastre-se</a></span>

  <button mat-icon-button aria-label="Favoritos">
    <mat-icon>favorite_border</mat-icon>
  </button>
  <button mat-icon-button aria-label="Carrinho">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>