/* Estilo do container da barra de ferramentas */
.flex-container {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Centralização do título */
  .toolbar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  /* Estilo geral da tabela */
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  /* Espaçamento entre células */
  td.mat-cell, th.mat-header-cell {
    padding: 12px;
  }
  
  /* Espaçamento do paginador */
  mat-paginator {
    margin-top: 16px;
  }