* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body {
  overflow-y: hidden !important;
  overflow: hidden !important;
  height: 100%;
}

.not-found-wrapper { 
  position: relative;
  height: 100svh;
  overflow: hidden;
  background-color: black;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.botao-fixo {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 10;
  text-decoration: none;
}

.botao {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-transform: uppercase;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75;
  padding: 12px 32px;
  min-width: 64px;

  color: #fff;
  background: linear-gradient(90deg, #e90313 60%, #ff9900 100%);
  box-shadow: 0 4px 24px 0 rgba(255, 153, 0, 0.15);
  border: none;
  border-radius: 24px;
  outline: none;

  transition: background 0.3s, transform 0.2s;
}

.botao:hover {
  background: linear-gradient(90deg, #b9020f 60%, #ff9900 100%);
  transform: scale(1.05);
  box-shadow: 0 8px 32px 0 rgba(255, 153, 0, 0.25);
}