<mat-drawer-container class="container">
  <mat-drawer #drawer mode="over" >  
      <mat-toolbar>
          <span>Menu de Navegação</span>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/admin/home" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>Home
        </a>
        <a mat-list-item routerLink="/admin/estados" routerLinkActive="active">
          <mat-icon>public</mat-icon>Cadastro de Estados
        </a>
        <a mat-list-item routerLink="/admin/cidades" routerLinkActive="active">
          <mat-icon>location_city</mat-icon>Cadastro de Município
        </a>
        <a mat-list-item routerLink="/admin/usuarios" routerLinkActive="active">
          <mat-icon>people</mat-icon>Usuários
        </a>
        <a mat-list-item routerLink="/admin/placasintegradas" routerLinkActive="active">
          <mat-icon>developer_board</mat-icon>Cadastro de Placas Integradas
        </a>
        <a mat-list-item routerLink="/admin/processadores" routerLinkActive="active">
          <mat-icon>memory</mat-icon>Cadastro de Processadores
        </a>
        <a mat-list-item routerLink="/admin/fornecedores" routerLinkActive="active">
          <mat-icon>local_shipping</mat-icon>Cadastro de Fornecedores
        </a>
        <a mat-list-item routerLink="/admin/fabricantes" routerLinkActive="active">
          <mat-icon>factory</mat-icon>Cadastro de Fabricantes
        </a>
        <a mat-list-item routerLink="/admin/lotes" routerLinkActive="active">
          <mat-icon>inventory</mat-icon>Cadastro de Lotes
        </a>
      </mat-nav-list>
      
  </mat-drawer>

  <mat-drawer-content>
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>